:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
    height: 100vh;
    width: 100vw;

    background-color: rgba(253, 253, 253, 0.466);

    background-color: rgb(226, 223, 223);
    color: rgb(112, 2, 2);

    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    
    overflow-x: hidden;
}

header {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    padding: 1.5rem;
}

.very-weight {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Anton', sans-serif;

    color: rgba(179, 2, 2, 0.87);
}

h1.very-weight {
    font-size: 5rem;
}

main {
    width: 100%;
    max-width: 1300px;

    display: flex;
    flex-direction: column;

    padding: 0 9rem;
    margin-top: 2rem;
}

div#container-wich-is {
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

div#container-wich-is img {
    max-width: 430px;
}

div#container-wich-is p{
    line-height: 3rem;
}

h2.very-weight {
    margin-top: 4rem;
    font-size: 4rem;
}

div#query {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0;
}

div#values-container {
    display: flex;
    align-items: flex-end;

    margin: 2rem 0;
    padding: 2rem;
}

div.value {
    display: flex;
    flex-direction: column;

    margin: 0 1rem;
}

.normal-border {
    border: 2px solid rgb(117, 1, 1);
    border-radius: .5rem;
}

input {
    padding: .4rem;
}

div.value input {
    width: 10rem;
    height: 2.3rem;
}

button {
    width: 100px;
    height: 45px;

    font-size: 2rem;
    font-family: 'Anton', sans-serif;

    color: white;
    background-color: rgb(117, 1, 1);
    box-shadow: 1px 1px 2px rgb(90, 0, 0);
    
    align-self: center;

    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: rgb(160, 3, 3);
    box-shadow: 1px 1px 3px rgb(187, 6, 6);
}

div.results {
    display: flex;
    flex-direction: column;
}

div.result {
    display: flex;

    margin: 1rem;
}

div.result label {
    margin-right: .3rem;
}

div.alert {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(253, 253, 253, 0.466);

    position: absolute;
    top: 0;
}

div.alert-box {
    width: 100%;
    max-width: 400px;
    height: 250px;
    
    position: absolute;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #c9c9c9;

    padding: 2rem;

    animation-duration: .4s;
    animation-name: bounceIn;
}

div.alert-box h2 {
    max-width: 30rem;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
  
    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

div.alert-box img {
    max-height: 50%;
}

@media(max-width: 780px) {
    div#container-wich-is {
        flex-direction: column;
    }

    div.result {
        flex-direction: column;
    }
}

@media(max-width: 695px) {
   :root {
        font-size: 55%;
   }

   main {
        padding: 0 6rem;
   }
}

@media(max-width: 559px) {
    :root {
        font-size: 50%;
    }
 }

@media(max-width: 508px) {
   main {
        padding: 0 2rem;
    }

    div.alert-box {
        max-width: 350px;
        height: 200px;
    }
}

@media(max-width: 444px) {
    :root {
        font-size: 45%;
    }
}

@media(max-width: 387px) {
    :root {
        font-size: 40%;
    }

    div#container-wich-is img {
        max-width: 350px;
    }

    div.alert-box {
        max-width: 280px;
        height: 160px;
    }
}

@media(max-width: 343px) {
    :root {
        font-size: 37%;
    }
}